/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.case-study-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
    position: relative;
    top: 3px
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
}

a.icon-link:active {
  transform: scale(0.8);
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}


/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, .2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.nav-title-link:active {
  transform: scale(0.9);
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
  }
}


/* Button Styling */

a.button {
  padding: 8px 30px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 50px;
  align-items: top;
}

a.button:hover {
  cursor: pointer;
}

/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 26px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}





.example {
  background: url('https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat;
  cursor: pointer;
  width: 300px;
  height: 200px;
  border: none;
}